@import './base.css';
@import url('https://use.typekit.net/mph4pup.css');

@font-face {
  font-family: alarmClock;
  src: url(./alarm_clock.ttf);
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}
